#headshot {
    width: 60vmin;
    border-radius: 10px;
    border: solid 2px;
}
#contact{
    padding-top: 15vh;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #contact-name{
        font-size: 20px;
    }
    #contact-title, #contact-email, .link{
        font-size: 16px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #contact-name{
        font-size: 24px;
    }
    #contact-title, #contact-email, .link{
        font-size: 20px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #contact-name{
        font-size: 28px;
    }
    #contact-title, #contact-email, .link{
        font-size: 22px;
    }
}