.navbar {
    position: sticky;
    padding: 3vh 40px;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.nav-link {
    color: white;
    font-size: 12px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .nav-link {
        color: white;
        font-size: 16px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-link {
        color: white;
        font-size: 20px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .nav-link {
        color: white;
        font-size: 24px;
    }
}
